html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: Exo;
  font-style: normal;
  src: url("../fonts/Exo2.0-Thin.otf");
}
strong {
  font-weight: bold;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: url("../img/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}
.container {
  margin: 0 auto;
  width: 1096px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.page-title {
  font-family: 'Exo';
  color: #fff;
  text-align: center;
  font-size: 36px;
  width: 100%;
}
@media (max-width: 1200px) {
  .container {
    width: 704px;
    height: auto;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
@media (max-width: 800px) {
  .container {
    width: 312px;
  }
}
.product-text {
  font-size: 13px;
  color: #fff;
  margin-top: 10px;
  text-align: center;
}
.product-text__link {
  border-bottom: 1px dashed #1698d9;
  color: #1698d9;
  cursor: pointer;
}
.product-item {
  background: -webkit-linear-gradient(315deg, transparent 30px, #f2f2f2 31px);
  background: -moz-linear-gradient(315deg, transparent 30px, #f2f2f2 31px);
  background: -o-linear-gradient(315deg, transparent 30px, #f2f2f2 31px);
  background: -ms-linear-gradient(315deg, transparent 30px, #f2f2f2 31px);
  background: linear-gradient(135deg, transparent 30px, #f2f2f2 31px);
  width: 312px;
  height: 472px;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 45px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.product-item__img {
  position: absolute;
  bottom: -90px;
  left: -28px;
  background: url("../img/cat.png");
  width: 367px;
  height: 358px;
  z-index: 10;
}
.product-item__amount {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 12px;
  right: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #1698d9;
  width: 81px;
  height: 81px;
  color: #fff;
  padding-top: 10px;
  text-align: center;
  z-index: 11;
}
.product-item__amount .value {
  font-size: 42px;
}
.product-item__amount .units {
  font-size: 21px;
}
.product-item__heading1 {
  font-size: 48px;
  color: #000;
}
.product-item__heading2 {
  font-size: 24px;
  color: #000;
}
.product-item__text,
.product-item__desc {
  color: #666;
  margin: 10px 0;
}
.product-item__text_hover {
  color: #e62e7a;
}
.round-right-corner:before {
  content: '';
  z-index: 110;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 4px solid;
  top: 0;
  right: 0;
  -webkit-border-radius: 0px 15px;
  border-radius: 0px 15px;
  border-color: #1698d9 #1698d9 transparent transparent;
}
.round-right-corner:after {
  content: '';
  z-index: 110;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 4px solid;
  bottom: 0px;
  right: 0;
  -webkit-border-radius: 15px 0px;
  border-radius: 15px 0px;
  border-color: transparent #1698d9 #1698d9 transparent;
}
.round-left-corner:before {
  content: '';
  z-index: 110;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 4px solid;
  bottom: 0px;
  left: 0;
  -webkit-border-radius: 0 15px;
  border-radius: 0 15px;
  border-color: transparent transparent #1698d9 #1698d9;
}
.vertical-lines:before {
  content: '';
  z-index: 110;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4px;
  height: 430px;
  background-color: #1698d9;
}
.vertical-lines:after {
  content: '';
  z-index: 110;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 430px;
  background-color: #1698d9;
}
.horizontal-lines:before {
  content: '';
  z-index: 110;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 270px;
  background-color: #1698d9;
}
.horizontal-lines:after {
  content: '';
  z-index: 110;
  position: absolute;
  right: 0;
  top: 0;
  width: 270px;
  height: 4px;
  background-color: #1698d9;
}
.corner-line {
  position: absolute;
  height: 4px;
  top: 16px;
  left: -11px;
  width: 74px;
  background-color: #1698d9;
  -webkit-transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
  -o-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  transform: rotate(-46deg);
}
.product-column {
  margin-top: 30px;
}
.product-column.mouse-out:hover .product-item__amount {
  background-color: #2ea8e6;
}
.product-column.mouse-out:hover .product-text__link {
  color: #2ea8e6;
}
.product-column .product-text_select {
  display: none;
}
.product-column_selected .product-item__amount,
.product-column_selected .vertical-lines:after,
.product-column_selected .vertical-lines:before,
.product-column_selected .horizontal-lines:after,
.product-column_selected .horizontal-lines:before,
.product-column_selected .corner-line {
  background-color: #d91667;
}
.product-column_selected .round-right-corner:before {
  border-color: #d91667 #d91667 transparent transparent;
}
.product-column_selected .round-right-corner:after {
  border-color: transparent #d91667 #d91667 transparent;
}
.product-column_selected .round-left-corner:before {
  border-color: transparent transparent #d91667 #d91667;
}
.product-column_selected.mouse-out:hover .product-item__amount,
.product-column_selected.mouse-out:hover .vertical-lines:after,
.product-column_selected.mouse-out:hover .vertical-lines:before,
.product-column_selected.mouse-out:hover .horizontal-lines:after,
.product-column_selected.mouse-out:hover .horizontal-lines:before,
.product-column_selected.mouse-out:hover .corner-line {
  background-color: #e62e7a;
}
.product-column_selected.mouse-out:hover .round-right-corner:before {
  border-color: #e62e7a #e62e7a transparent transparent;
}
.product-column_selected.mouse-out:hover .round-right-corner:after {
  border-color: transparent #e62e7a #e62e7a transparent;
}
.product-column_selected.mouse-out:hover .round-left-corner:before {
  border-color: transparent transparent #e62e7a #e62e7a;
}
.product-column_selected .product-text_select {
  display: block;
}
.product-column_selected .product-text_default {
  display: none;
}
.product-column_disabled .product-item:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(315deg, transparent 34px, #f2f2f2 31px);
  background: -moz-linear-gradient(315deg, transparent 34px, #f2f2f2 31px);
  background: -o-linear-gradient(315deg, transparent 34px, #f2f2f2 31px);
  background: -ms-linear-gradient(315deg, transparent 34px, #f2f2f2 31px);
  background: linear-gradient(135deg, transparent 34px, #f2f2f2 31px);
  z-index: 100;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.product-column_disabled .product-text {
  color: #ff6;
}
.product-column_disabled .product-item__amount,
.product-column_disabled .vertical-lines:after,
.product-column_disabled .vertical-lines:before,
.product-column_disabled .horizontal-lines:after,
.product-column_disabled .horizontal-lines:before,
.product-column_disabled .corner-line {
  background-color: #b3b3b3;
}
.product-column_disabled .round-right-corner:before {
  border-color: #b3b3b3 #b3b3b3 transparent transparent;
}
.product-column_disabled .round-right-corner:after {
  border-color: transparent #b3b3b3 #b3b3b3 transparent;
}
.product-column_disabled .round-left-corner:before {
  border-color: transparent transparent #b3b3b3 #b3b3b3;
}
