doctype html
html
  head
    title Feed the cat
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascript/jquery.js')
    script(src='/javascript/product.js')
