.product-text
  font-size: 13px
  color: white
  margin-top: 10px
  text-align: center

.product-text__link
  border-bottom: 1px dashed $default-blue
  color: $default-blue
  cursor: pointer

.product-item
  background: linear-gradient(135deg, transparent 30px, #f2f2f2 31px)
  width: 312px
  height: 472px
  position: relative
  overflow: hidden
  box-sizing: border-box
  padding: 8px 45px
  border-radius: 15px
  cursor: pointer

.product-item__img
  position: absolute
  bottom: -90px
  left: -28px
  background: url('/img/cat.png')
  width: 367px
  height: 358px
  z-index: 10

.product-item__amount
  position: absolute
  box-sizing: border-box
  bottom: 12px
  right: 12px
  border-radius: 50%
  background-color: $default-blue
  width: 81px
  height: 81px
  color: white
  padding-top: 10px
  text-align: center
  z-index: 11
  .value
    font-size: 42px
  .units
    font-size: 21px

.product-item__heading1
  font-size: 48px
  color: black

.product-item__heading2
  font-size: 24px
  color: black

.product-item__text
.product-item__desc
  color: #666
  margin: 10px 0

.product-item__text_hover
  color: $hover-pink

.round-right-corner
  &:before
    pseudo-round-corner()
    top: 0
    right: 0
    border-radius: 0px 15px
    border-color: $default-blue $default-blue transparent transparent
  &:after
    pseudo-round-corner()
    bottom: 0px
    right: 0
    border-radius: 15px 0px
    border-color: transparent $default-blue $default-blue transparent

.round-left-corner
  &:before
    pseudo-round-corner()
    bottom: 0px
    left: 0
    border-radius: 0 15px
    border-color: transparent transparent $default-blue $default-blue

.vertical-lines
  &:before
    pseudo-el()
    left: 0
    bottom: 0
    width: 4px
    height: 430px
    background-color: $default-blue
  &:after
    pseudo-el()
    right: 0
    bottom: 0
    width: 4px
    height: 430px
    background-color: $default-blue

.horizontal-lines
  &:before
    pseudo-el()
    left: 0
    bottom: 0
    height: 4px
    width: 270px
    background-color: $default-blue
  &:after
    pseudo-el()
    right: 0
    top: 0
    width: 270px
    height: 4px
    background-color: $default-blue

.corner-line
  position: absolute
  height: 4px
  top: 16px
  left: -11px
  width: 74px
  background-color: $default-blue
  transform: rotate(-46deg)

.product-column
  margin-top: 30px
  &.mouse-out:hover
    .product-item__amount
      background-color: $hover-blue
    .product-text__link
      color: $hover-blue
  .product-text_select
    display: none

.product-column_selected
  .product-item__amount
  .vertical-lines:after
  .vertical-lines:before
  .horizontal-lines:after
  .horizontal-lines:before
  .corner-line
    background-color: $default-pink
  .round-right-corner:before
    border-color: $default-pink $default-pink transparent transparent
  .round-right-corner:after
    border-color: transparent $default-pink $default-pink transparent
  .round-left-corner:before
    border-color: transparent transparent $default-pink $default-pink
  &.mouse-out:hover
    .product-item__amount
    .vertical-lines:after
    .vertical-lines:before
    .horizontal-lines:after
    .horizontal-lines:before
    .corner-line
      background-color: $hover-pink
    .round-right-corner:before
      border-color: $hover-pink $hover-pink transparent transparent
    .round-right-corner:after
      border-color: transparent $hover-pink $hover-pink transparent
    .round-left-corner:before
      border-color: transparent transparent $hover-pink $hover-pink
  .product-text_select
    display: block
  .product-text_default
    display: none



.product-column_disabled
  .product-item:after
    content: ''
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    background: linear-gradient(135deg, transparent 34px, #f2f2f2 31px)
    z-index: 100
    opacity: 0.7
  .product-text
    color: #ffff66
  .product-item__amount
  .vertical-lines:after
  .vertical-lines:before
  .horizontal-lines:after
  .horizontal-lines:before
  .corner-line
    background-color: $disabled-color
  .round-right-corner:before
    border-color: $disabled-color $disabled-color transparent transparent
  .round-right-corner:after
    border-color: transparent $disabled-color $disabled-color transparent
  .round-left-corner:before
    border-color: transparent transparent $disabled-color $disabled-color
