@import 'nib'
global-reset()

@font-face
  font-family: Exo
  font-style: normal
  src: url(/fonts/Exo2.0-Thin.otf)

$default-blue = #1698d9
$hover-blue = #2ea8e6
$default-pink = #d91667
$hover-pink = #e62e7a
$disabled-color = #b3b3b3

strong
  font-weight: bold

html
body
  width: 100%
  height: 100%

body
  background: url('/img/bg.png')
  background-size: cover
  font-family: "Trebuchet MS", Tahoma, sans-serif;

.container
  margin: 0 auto
  width: 1096px
  height: 100%
  display: flex
  align-items: center
  align-content: center
  justify-content: space-between
  flex-flow: row wrap

.page-title
  font-family: 'Exo'
  color: white
  text-align: center
  font-size: 36px
  width: 100%
  // margin-bottom: 30px

.product-text
  font-size: 13px
  color: white
  margin-top: 10px
  text-align: center

.product-text__link
  border-bottom: 1px dashed $default-blue
  color: $default-blue
  cursor: pointer

.product-item
  border: 4px solid $default-blue
  background: linear-gradient(135deg, transparent 30px, #f2f2f2 31px)
  width: 312px
  height: 472px
  position: relative
  overflow: hidden
  box-sizing: border-box
  padding: 8px 45px
  border-radius: 15px
  cursor: pointer

  // border: 4px solid;
  // border-image: linear-gradient(135deg, transparent 35px, $default-blue 31px) 1%;
  // border-color: transparent;
  // background-clip: padding-box;

.product-item__img
  position: absolute
  bottom: -90px
  left: -28px
  background: url('/img/cat.png')
  width: 367px
  height: 358px
  z-index: 10

.product-item__amount
  position: absolute
  box-sizing: border-box
  bottom: 12px
  right: 12px
  border-radius: 50%
  background-color: $default-blue
  width: 81px
  height: 81px
  color: white
  padding-top: 10px
  text-align: center
  z-index: 11
  .value
    font-size: 42px
  .units
    font-size: 21px

.product-item__heading1
  font-size: 48px
  color: black

.product-item__heading2
  font-size: 24px
  color: black

.product-item__text
.product-item__desc
  color: #666
  margin: 10px 0

.product-item__text_hover
  color: $hover-pink

.product-column
  margin-top: 30px
  &:not(.mouse-in):hover
    .product-item
      border-color: $hover-blue
    .product-item__amount
      background-color: $hover-blue
    .product-text__link
      color: $hover-blue
  .product-text_select
    display: none

.product-column_selected
  .product-item
    border-color: $default-pink
  .product-item__amount
    background-color: $default-pink
  &:not(.mouse-in):hover
    .product-item
      border-color: $hover-pink
    .product-item__amount
      background-color: $hover-pink
  .product-text_select
    display: block
  .product-text_default
    display: none

.product-column_disabled
  .product-item
    border-color: $disabled-color !important
    &:after
      content: ''
      position: absolute
      height: 100%
      width: 100%
      top: 0
      left: 0
      background: linear-gradient(135deg, transparent 30px, #f2f2f2 31px)
      z-index: 100
      opacity: 0.7
  .product-item__amount
    background-color: $disabled-color !important
  .product-text
    color: #ffff66

@media (max-width: 1200px)
  .container
    width: 704px
    height: auto
    justify-content: space-around

@media (max-width: 800px)
  .container
    width: 312px
